.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }